{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'devMS/css/index.css' %}" rel="stylesheet">
    {% block link %} {% endblock %}

</head>
<body>
    <div id="main">
        <div id="top_bar">
            <label style="color:white;font-size:20px;margin-left:45px;margin-top:8px;">设备管理系统</label>
            <div>
                <label class="login_label"><a href="/mobiledevice/logout/">退出</a></label>
                <label class="welcome_label" >welcome~{{ request.session.username }}</label>
            </div>
        </div>

        <div style="width: 100%;height:100%;">
            <div id="left_item">
                <div class="setting_item"><label id = "searchDevices" class="setting_label" onclick="changeMenu(event)">设 备 查 询</label></div>
                <div class="setting_item"><label id = "addDevices"  class="setting_label" onclick="changeMenu(event)">添 加 设 备</label></div>
                <div class="setting_item"><label id = "manDevices"  class="setting_label" onclick="changeMenu(event)" >管 理 设 备</label></div>
                <div class="setting_item"><label id = "checkDevices"  class="setting_label" onclick="changeMenu(event)">设 备 盘 点</label></div>
                <div class="setting_item"><label id = "logMan" class="setting_label" onclick="changeMenu(event)">日 志 管 理</label></div>
                <div class="setting_item"><label id = "aboutPage"  class="setting_label" onclick="changeMenu(event)">关 于 系 统</label></div>
            </div>
            <div id="right_content">
            {% block contend %}
            {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'devMS/js/jquery-3.1.1.min.js'%}"></script>
    <script src="{% static 'devMS/js/jquery.cookie.js'%}"></script>
    <script src="{% static 'devMS/js/index.js'%}"></script>
    {% block js %}

    {% endblock %}

</body>
</html>
