<div>
    <table _border="1" style="width:100%;height:100px;margin-left:20px;">
        <tr>
            <td style="width:33%;">
              <label class="label_style">{{ searchDeviceform.plateform.label }}</label>
               {{ searchDeviceform.plateform}}
            </td>
            <td style="width:33%;">
                <label class="label_style">{{ searchDeviceform.brand.label }}</label>
               {{ searchDeviceform.brand }}
            </td>
            <td style="width:33%;">
                <label class="label_style">{{ searchDeviceform.version.label }}</label>
                {{ searchDeviceform.version}}
            </td>
        </tr>
        <tr>
            <td>
                <label class="label_style" >{{ searchDeviceform.status.label }}</label>
                {{ searchDeviceform.status }}
            </td>
            <td>
                <label class="label_style" >{{ searchDeviceform.category.label }}</label>
                {{ searchDeviceform.category }}
            </td>
            <td>
                 <label class="label_style" >{{ searchDeviceform.borrower.label }}</label>
                {{ searchDeviceform.borrower }}
            </td>
        </tr>
    </table>
</div>
<div>
    <button class="btn btn-primary" style="width:100px;" id="search_btn" onclick="searchDevs()">查 询</button>
    <button class="btn btn-primary" style="width:100px;margin-top:20px;" id="export_btn" onclick="exportDevs({{deviceInfo}})">导 出</button>
</div>

